<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Footy Teams</title>
</head>
<body>
    <%# we can now inject ruby into html %>
    <h2>Team Names</h2>

    <u>
    <% @data.each do |row| %>
        <li><%= row[:team] %></li>
        
    <% end %>
    </u>
</body>
</html>
